body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #57c981;
    font-family: "Inter", "Helvetica Neue", sans-serif;
}

header video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 400px) {
    video {
        width: 100%;
        height: 100%;
    }
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
  
.hero__overlay {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
  
.wallet-buttons {
    width: 100%;
    height: 100%;
    pointer-events: none;
}
  
#walletBtnWrapper {
    position: fixed;
    z-index: 2;
    top: 55px;
    right: 30px;
}
  
#shopBtnWrapper {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
  
.wallet-connect__button,
.shopNow {
  pointer-events: auto;
  padding: 12px 20px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  font-style: normal;
  background-color: #135029;
  border: none;
  color: white;
  border-radius: 35px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.wallet-connect__button:hover,
.shopNow:hover {
  background-color: #1a6634;
  transform: scale(1.05);
}

.hero__content  {
    position: fixed;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 20px;
    left: 30px;
}

.hero__content h1 {
    font-size: 2.5rem;
}

.hero__content h2 {
    display: flex;
    position: absolute;
    top: 50px;
    left: 80px;
    font-size: 1.2rem;
}

.mountainLogo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carousel {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Adjust spacing here */
    flex-wrap: wrap; /* Optional: allows wrap on small screens */
}

.carousel_1,
.carousel_2,
.carousel_3,
.carousel_4 {
    display: flex;
    flex-direction: column;
    max-width: 350px; /* Optional: control size */
}

.carousel__video {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
